{{ define "main" }}
  <div>
    {{ partial "header.html" . }}
    <div class="px-2 pb-6 mx-auto max-w-3xl cc-content">
      <ul>
        <!-- Ranges through content/posts/*.md -->
        {{ range .Pages }}
          <li>
            <a href="{{ .Permalink }}">{{ .Date.Format "2006-01-02" }} | {{ .Title }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
{{ end }}



