<footer class="px-2 my-6 mx-auto max-w-3xl text-xs">
  <div class="flex justify-around">
    <div class="text-left flex-1">
      <div>License</div>
      <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons - CC BY 3.0</a>
    </div>
    <div class="text-center flex-1">
      <a href="{{ .Site.Params.repository }}" class="svg-link" aria-label="GitLab Repository">{{ partial "fontawesome.html" "brands/gitlab" }}</a>
    </div>
    <div class="text-right flex-1">
      &copy; {{ now.Format "2006" }} <a href="https://oregand.gitlab.io/doregan.io/">David O'Regan</a>
    </div>
  </div>
</footer>
