<header class="px-2 mb-8 mt-12 sm:my-16 mx-auto text-center max-w-xl flex flex-col items-center content-center">
  <h1 class="mx-auto text-2xl sm:text-4xl leading-none">
    <strong class="font-bold text-purple-700 dark:text-purple-500">doregan </strong>
    <span class="font-light">.io</span>
  </h1>
  <p class="text-sm font-light">
    AI,
    <a href="https://docs.gitlab.com/ee/architecture/blueprints/remote_development/" rel="nofollow noopener noreferrer">Cloud Development</a>
    and
    <a href="https://gitlab.com/oregand" rel="nofollow noopener noreferrer">Engineering Management learning</a>
  </p>
</header>
<div class="absolute top-0 right-0 m-4 flex">
  <div class="js-dark-mode mr-4"></div>
  <div class="js-stars" data-project-path="oregand/doregan.io"></div>
</div>
